.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: blue;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
table{
	
	border-collapse: collapse;
	border:4px solid red;
	height: auto;
	width: auto;
}
tr{
	
	border:4px solid white;
}
td{
    width:50px;
    height: 50px;
    background-color: violet;
	border: 4px solid black;
	border-collapse:collapse; 
}
td:hover{
	background-color: red;
}
#blank{

	background-color: white;
	border:0px;
}

.block {
    display: block;
    height: 100%;
    width: 100%;
    background-color: orange;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#num{

	margin: -100px 0px 0px 300px;
}
@media only screen and (min-width:900px) {
#num{

	margin: -2px 0px 0px 300px;
}

div.left{
	font-size: 40px;
	position: absolute;
	background-color: rgb(0,0,0);
  left: 0px;
  width: 520px;
  height: 480px;
  border: 3px solid green;
}
div.right{
	font-size: 40px;
	position: absolute;
	background-color: white;
  right: 0px;
  width: 520px;
  height:480px;
  border: 3px solid green;
}
	
.block:hover{
	background-color:yellow;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: blue;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
